<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>

    <link rel="stylesheet" type="text/css" href="/css/header.css">

</head>
<body>

<header>
    <a href="/" ><input type="button" class="buttons" value="Main page"/></a>
    <a href="/login" ><input type="button" class="buttons" value="Login"/></a>
    <a href="/registration" ><input type="button" class="buttons" value="Registration"/></a>
    <a href="/admin/admin-page" ><input type="button" class="buttons" value="Admin Page"/></a>
    <a href="/logout-page" ><input type="button" class="buttons" value="User info"/></a>

</header>

<h3>Only admin can see this page</h3>
</body>
</html>