<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<header>
    <a href="/" ><input type="button" class="buttons" value="Main page"/></a>
    <a href="/login" ><input type="button" class="buttons" value="Login"/></a>
    <a href="/registration" ><input type="button" class="buttons" value="Registration"/></a>
    <a href="/admin/admin-page" ><input type="button" class="buttons" value="Admin Page"/></a>
    <a href="/logout-page" ><input type="button" class="buttons" value="User info"/></a>

</header>


<div class="form">
    <form class="form-signin" method="post" action="/login">
        <h2 class="login-word">Login</h2>
        <p>

            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="/" ><input type="button" class="" value="Main page"/></a>

    </form>
</div>
</body>
</html>