<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">
    <script src="js/success.js"></script>



</head>
<body>

<header>
    <a href="/"><input type="button" class="buttons " value="Main page"/></a>
    <a href="/login"><input type="button" class="buttons " value="Login"/></a>
    <a href="/registration"><input type="button" class="buttons " value="Registration"/></a>
    <a href="/admin/admin-page"><input type="button" class="buttons " value="Admin Page"/></a>
    <a href="/logout-page"><input type="button" class="buttons " value="User info"/></a>

</header>


<div  >
    <form onsubmit="confirmLogin()" method="post" action="/login">
        <h2>Login</h2>
        <p>

            <input class="user-input" type="text" id="username" name="username" placeholder="Username" required>
        </p>
        <p>
            <input class="user-input" type="password" id="password" name="password" placeholder="Password" required>
        </p>

        <button  class="button sign-in bg_color_lightgreen" type="submit" id="login">Sign in</button>
        <a  href="/"><input  type="button" class="button bg_color_lightblue" value="Main page"/></a>

    </form>

</div>
</body>
</html>