<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">
    <script src="js/success.js"></script>



</head>
<body>
<div class="div-header">
    <th:block th:include="/header"></th:block>
</div>


<div  >
    <form onsubmit="confirmLogin()" method="post" action="/login">
        <h2>Login</h2>
        <p>

            <input class="user-input" type="text" id="username" name="username" placeholder="email" required>
        </p>
        <p>
            <input class="user-input" type="password" id="password" name="password" placeholder="Password" required>
        </p>

        <button  class="button sign-in bg_color_lightgreen" type="submit" id="login">Sign in</button>
        <a  href="/"><input  type="button" class="button bg_color_lightblue" value="Main page"/></a>

    </form>



</div>
<footer >
    <p>Admin (full permission): admin@gmail.com, admin</p>
    <p>User(only encode/decode): user@gmail.com, user</p>
</footer>
</body>
</html>