<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/user_info.css">
    <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">



</head>
<body>

<header>
    <a href="/"><input type="button" class="buttons" value="Main page"/></a>
    <a href="/login"><input type="button" class="buttons" value="Login"/></a>
    <a href="/registration"><input type="button" class="buttons" value="Registration"/></a>
    <a href="/admin/admin-page"><input type="button" class="buttons" value="Admin Page"/></a>
    <a href="/logout-page"><input type="button" class="buttons" value="User info"/></a>

</header>

<link rel="stylesheet" type="text/css" href="css/user_info.css">


<div class="form">
    <h2>Now you are logged</h2>
    <form action="/logout" method="POST">
        <button type="submit" class=" button logout bg_color_red">Logout</button>
        <p><a href="/" ><input type="button" class="button bg_color_lightblue" value="Go to main page"/></a></p>


    </form>
</div>

</div>
</body>
</html>