<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/user_info.css">
    <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">
    <script src="js/success.js"></script>



</head>
<body>

<div class="div-header">
    <th:block th:include="/header"></th:block>
</div>

<link rel="stylesheet" type="text/css" href="css/user_info.css">


<div class="form">
    <h1>Now you are logged</h1>
    <form onsubmit="confirmLogout()" action="/logout" method="POST">
        <h3 class="hello">Hello:</h3>
        <h3 class="username" th:text="${username}"></h3>
        <button id="logout" type="submit" class=" button logout bg_color_red">Logout</button>
        <p><a href="/" ><input type="button" class="button bg_color_lightblue" value="Go to main page"/></a></p>


    </form>
</div>

</div>
</body>
</html>