<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>English-Ukrainian</title>
    <link rel="stylesheet" type="text/css" href="/css/encode_page.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">

</head>
<body>

<header>
    <a href="/" ><input type="button" class="buttons " value="Main page"/></a>
    <a href="/login" ><input type="button" class="buttons " value="Login"/></a>
    <a href="/registration" ><input type="button" class="buttons " value="Registration"/></a>
    <a href="/admin/admin-page" ><input type="button" class="buttons " value="Admin Page"/></a>
    <a href="/logout-page" ><input type="button" class="buttons " value="User info"/></a>

</header>

<div>
    <form action="#" th:action="@{/encode/googleTranslate}" th:object="${operation}" method="POST">
        <h2 class="header">Please enter your words here:</h2>

        <input class="user-input" type="text" th:field="*{input}"/>

        <input type="submit" class="button do" name="encode" value="encode"/>

        <p class=" resultText" th:text="'Result for encode: '"></p>

        <p class="result" th:text=" ${resultEncode}"></p>
        <p>  <input type="submit" class="button clearButton" name="clear" value="Clear"/></p>

        <p>  <a href="/decode/googleTranslate"><input type="button" class="button switchButton" value="Go to decode page"/></a>  </p>

        <a href="/"><input type="button" class="button goToButton" value="Go to main page"/></a>

    </form>
</div>

</body>
</html>