<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vigenere Over Caesar</title>
    <link rel="stylesheet" type="text/css" href="/css/encode_page.css">

</head>
<body>

<div>
    <form action="#" th:action="@{/encode/vigenereOverCaesar}" th:object="${operation}" method="POST">
        <h2 class="header">Please enter your words here:</h2>

        <input class="user-input" type="text" th:field="*{input}"/>

        <input type="submit" class="button" name="encode" value="encode"/>

        <p class=" resultText" th:text="'Result for encode: '"></p>

        <p class="result" th:text=" ${resultEncode}"></p>
        <p>  <input type="submit" class="button clearButton" name="clear" value="Clear"/></p>

        <p>  <a href="/decode/vigenereOverCaesar"><input type="button" class="button goToButton" value="Go to decode page"/></a>  </p>

        <a href="/"><input type="button" class="button goToButton" value="Go to main page"/></a>

    </form>
</div>

</body>
</html>