div {
    height: 350px;
    width: 400px;
    margin-left:460px ;
    margin-top: 50px;
}

.button {
    height: 40px;
    width: 180px;
    border: 2px solid lightgreen;
    margin-left: 60px;
}

.topText {
    font-size: 33px;
    color: coral;
}