.bg_color_lightblue:hover
{
    background-color:lightblue;
}
.bg_color_lightgreen:hover
{
    background-color:lightgreen;
}
.bg_color_red:hover
{
    background-color:red;
}
.bg_color_coral:hover
{
    background-color:coral;
}
