div {
    height: 350px;
    width: 400px;
    margin-left:500px ;
    margin-top: 10px;
}
.button {
    height: 60px;
    width: 220px;
    border: 2px solid lightgreen;
    margin-left: 30px;
}
.topText {
    font-size: 33px;
    color: coral;
}
.middleText {
    font-size: 25px;

}
.goToButton {
    border: 2px solid red;
}