div {
    height: 350px;
    width: 400px;
    margin:auto;

}

.button{
    height: 30px;
    width: 70px;
    border: 1px solid lightblue;

}
.do {
    border: 1px solid lightcoral;
}
.do:hover {
    background-color: chartreuse;
}

.user-input {
    height: 25px;
    width: 200px;
    margin-left: 70px;
    border: 2px solid lightslategray;
}
.header {
    margin-left: 50px;

}
.resultText {
    font-size:20px;
    margin-left: 110px;
    color: brown;

}

.result {
    font-size: 16px;
    margin-left: 60px;
    height: 25px;
    width: 300px;
    border: 1px solid lightgreen;

}

.goToButton {
    margin-left: 130px;
    width: 130px;

}
.goToButton:hover {
    background-color: lightblue;
}

.switchButton {
    margin-left: 130px;
    width: 130px;

}
.switchButton:hover {
    background-color: orange;
}
.clearButton {
    margin-left: 150px;
}
.clearButton:hover {
    background-color: yellow;
}

