div {
    height: 350px;
    width: 400px;
    margin:auto;

}

.button{
    height: 30px;
    width: 70px;
    border: 1px solid lightblue;
    transition: transform .1s;
}
.button:hover {
    transform: scale(1.2);

}
.do {
    border: 1px solid lightcoral;
}
.do:hover {
    background-color: chartreuse;
    transform: scale(1.2);
}

.user-input {
    height: 25px;
    width: 200px;
    margin-left: 70px;
    border: 2px solid lightslategray;
}
.header {
    margin-left: 50px;

}
.resultText {
    font-size:20px;
    margin-left: 110px;
    color: brown;

}

.result {
    font-size: 16px;
    margin-left: 60px;
    height: 25px;
    width: 300px;
    border: 1px solid lightgreen;

}

.goToButton {
    margin-left: 130px;
    width: 130px;
    transition: transform .1s;

}
.goToButton:hover {
    background-color: lightblue;
    transform: scale(1.2);
}

.switchButton {
    margin-left: 130px;
    width: 130px;
    transition: transform .1s;

}
.switchButton:hover {
    background-color: orange;
    transform: scale(1.2);
}
.clearButton {
    margin-left: 150px;
    transition: transform .1s;
}
.clearButton:hover {
    background-color: yellow;
    transform: scale(1.2);
}

.answer {
    margin-left: 80px;
    color:red;
    font-size: 20px;
}

