.buttons {
    width: 19.6%;
    height: 30px;
    border: 1px solid lightblue;
}
.buttons:hover {
    background-color: lightblue;
}

header {
    margin-top: 10px;

}

.div-header {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}