div {
    height: 350px;
    width: 400px;
    margin:auto;
}

.button {
    height: 60px;
    width: 220px;
    border: 2px solid lightgreen;
    margin-left: 30px;
}

.button:hover {

    transform: scale(1.2);
}


.topText {
    font-size: 33px;
    color: coral;
}

.goToButton {
    border: 2px solid red;
}