div {
    margin-left: 15%;
}
th {
    width: 200px;
    height: 40px;
    font-size: 30px;

}

td{
    text-align: center;
}

.table-header {
    margin-left: 400px;
    color: brown;
    font-size: 40px;
}
.button {
    margin-left: 35%;
    width: 150px;
    height: 40px;
    border: 1px solid lightgreen;
    transition: transform .1s;
}
.button:hover {

    transform: scale(1.2);
}


.data {
    border: 1px solid black;
}
.delete {
    width: 100px;
    height: 25px;
    transition: transform .1s;
}
.delete:hover {

    transform: scale(1.2);
}

.descending {
    margin-left: 350px;
}

.most-popular-block {
    width: 250px;
    height: 200px;
    margin-left: 32%;
    margin-top: 5%;
}

.most-popular-head {
    font-size: 20px;
    text-align: center;
}
.most-popular-result{
    font-size: 30px;
    color: red;
    text-align: center;
}

.codec-usage-block {
    width: 400px;
    margin-left: 20%;
}



