div {
    margin:auto;
}
th {
    width: 200px;
    height: 30px;
    font-size: 25px;

}
td{
    text-align: center;
}

.users {
    margin-left: 555px;
    color: brown;
    font-size: 40px;
}
.button {
    margin-left: 540px;
    width: 150px;
    height: 40px;
    border: 1px solid lightgreen;
}

.data {
    border: 1px solid black;
}
.delete {
    width: 100px;
    height: 25px;
    border: 1px solid red;
}