div {
    height: 350px;
    width: 400px;
    margin:auto;
}

.button{
    height: 40px;
    width: 120px;
    margin-left: 40px;
    border: 1px solid lightblue;
    transition: transform .1s;
}
.button:hover {

    transform: scale(1.2);
}



.logout {
    border: 1px solid red;
}
.hello {
    margin-left: 65px;
}
.username {
    margin-left: 20px;
    color: red;
}