<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crypto Application</title>

        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/analytics_menu.css">
        <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">



    </head>

    <body>
        <header>
            <a href="/" ><input type="button" class="buttons" value="Main page"/></a>
            <a href="/login" ><input type="button" class="buttons" value="Login"/></a>
            <a href="/registration" ><input type="button" class="buttons" value="Registration"/></a>
            <a href="/admin/admin-page" ><input type="button" class="buttons" value="Admin Page"/></a>
            <a href="/logout-page" ><input type="button" class="buttons" value="User info"/></a>

        </header>
<div>
<table>
        <h2 class="topText">Here is analytics menu, choose one:</h2>
    <p> <a href="/analytics/sort_to_date" ><input type="button" class="button bg_color_lightgreen" value="Sort history by date"/></a></p>
    <p> <a href="/analytics/most_used_codec" ><input type="button" class="button bg_color_lightgreen" value="Most used codec"/></a></p>
    <p> <a href="/analytics/descending_inputs" ><input type="button" class="button bg_color_lightgreen" value="Inputs in desc order"/></a></p>
    <p><a href="/"><input type="button" class="button goToButton bg_color_coral" value="Go to main page"/></a></p>




</table>
</div>

    </body>
</html>