<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crypto Application</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/code_menu.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">


    </head>

    <body>
        <header>
            <a href="/" ><input type="button" class="buttons" value="Main page"/></a>
            <a href="/login" ><input type="button" class="buttons" value="Login"/></a>
            <a href="/registration" ><input type="button" class="buttons" value="Registration"/></a>
            <a href="/admin/admin-page" ><input type="button" class="buttons" value="Admin Page"/></a>
            <a href="/logout-page" ><input type="button" class="buttons" value="User info"/></a>

        </header>

        <div>
            <table>
                <h3 class="topText">You have chosen decoding.</h3>
                <h3 class="middleText">Here is a list of available codecs for decoding:</h3>
                <p> <a href="/decode/caesar" ><input type="button" class="button" value="Caesar"/></a></p>
                <p>  <a href="/decode/morse" ><input type="button" class="button" value="Morse"/></a></p>
                <p> <a href="/decode/googleTranslate" ><input type="button" class="button" value="Ukrainian-English"/></a></p>
                <p> <a href="/decode/vigenere" ><input type="button" class="button" value="Vigenere"/></a></p>
                <p> <a href="/decode/vigenereOverCaesar" ><input type="button" class="button" value="Vigenere over Caesar"/></a></p>
                <p><a href="/"><input type="button" class="button goToButton " value="Go to main page"/></a></p>
            </table>
        </div>
    </body>
</html>