<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crypto Application</title>

        <link rel="stylesheet" type="text/css" href="/css/code_menu.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">


    </head>

    <body>
        <div class="div-header">
            <th:block th:include="/header"></th:block>
        </div>

        <div>
            <table>
                <h3 class="topText">You have chosen decoding.</h3>
                <h3 class="middleText">Here is a list of available codecs:</h3>
                <p> <a href="/decode/caesar" ><input type="button" class="button bg_color_lightgreen" value="Caesar"/></a></p>
                <p>  <a href="/decode/morse" ><input type="button" class="button bg_color_lightgreen" value="Morse"/></a></p>
                <p> <a href="/decode/vigenere" ><input type="button" class="button bg_color_lightgreen" value="Vigenere"/></a></p>
                <p> <a href="/decode/vigenereOverCaesar" ><input type="button" class="button bg_color_lightgreen" value="Vigenere over Caesar"/></a></p>
                <p><a href="/"><input type="button" class="button goToButton bg_color_coral" value="Go to main page"/></a></p>
            </table>
        </div>
    </body>
</html>