<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crypto Application</title>

        <link rel="stylesheet" type="text/css" href="/css/code_menu.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">

    </head>

    <body>
        <header>
            <a href="/" ><input type="button" class="buttons " value="Main page"/></a>
            <a href="/login" ><input type="button" class="buttons " value="Login"/></a>
            <a href="/registration" ><input type="button" class="buttons " value="Registration"/></a>
            <a href="/admin/admin-page" ><input type="button" class="buttons " value="Admin Page"/></a>
            <a href="/logout-page" ><input type="button" class="buttons " value="User info"/></a>

        </header>

        <div>
    <table>
        <h3 class="topText">You have chosen encoding.</h3>
        <h3 class="middleText">Here is a list of available codecs for encoding:</h3>
       <p> <a href="/encode/caesar" ><input type="button" class="button bg_color_lightgreen" value="Caesar"/></a></p>
        <p>  <a href="/encode/morse" ><input type="button" class="button bg_color_lightgreen" value="Morse"/></a></p>
        <p> <a href="/encode/googleTranslate" ><input type="button" class="button bg_color_lightgreen" value="Ukrainian-English"/></a></p>
        <p> <a href="/encode/vigenere" ><input type="button" class="button bg_color_lightgreen" value="Vigenere"/></a></p>
        <p> <a href="/encode/vigenereOverCaesar" ><input type="button" class="button bg_color_lightgreen" value="Vigenere over Caesar"/></a></p>
        <p><a href="/"><input type="button" class="button goToButton bg_color_coral " value="Go to main page"/></a></p>
        </table>
        </div>
    </body>
</html>