<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crypto Application</title>

        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/history_menu.css">
        <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">

    </head>

    <body>
        <div class="div-header">
            <th:block th:include="/header"></th:block>
        </div>

        <div>
        <table>
            <h2 class="topText">What are you going to do with history?</h2>
            <p> <a href="/history/show_all" ><input type="button" class="button bg_color_lightgreen" value="Show history"/></a></p>
            <p> <a href="/history/clear_history" ><input type="button" class="button bg_color_lightgreen" value="Clear history"/></a></p>
            <p> <a href="/history/last_element" ><input type="button" class="button bg_color_lightgreen" value="Last element"/></a></p>
            <p><a href="/"><input type="button" class="button goToButton bg_color_coral" value="Go to main page"/></a></p>


        </table>
        </div>
    </body>
</html>