<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crypto Application</title>


    </head>

    <body>
        <header>
            <a href="/" ><input type="button" class="buttons" value="Main page"/></a>
            <a href="/login" ><input type="button" class="buttons" value="Login"/></a>
            <a href="/registration" ><input type="button" class="buttons" value="Registration"/></a>
            <a href="/admin/admin-page" ><input type="button" class="buttons" value="Admin Page"/></a>
            <a href="/logout-page" ><input type="button" class="buttons" value="User info"/></a>

        </header>

    <table>
        <h3>What are you going to do with history?</h3>
        <h3 >Print all previous data</h3>
        <h3 >Clear data</h3>
        <h3 >Remove last element</h3>
    </table>
    </body>
</html>