<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>

<body>

<div class="div-header">
    <th:block th:include="/header"></th:block>
</div>
<div >
    <div class="main" >
        <ul >
            <li ><h3 th:text="${error}">Status</h3></li>
            <li  th:text="'Status code: '+ ${status}"></li>
        </ul>

        <a href="/"><input type="button" class="button" value="Main page"/></a>
    </div>
</div>

</body>
</html>