<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crypto Application</title>

    <link rel="stylesheet" type="text/css" href="/css/code_menu.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">


</head>

<body>
<header>
    <a href="/" ><input type="button" class="buttons" value="Main page"/></a>
        <a href="/login" ><input type="button" class="buttons" value="Login"/></a>
     <a href="/registration" ><input type="button" class="buttons" value="Registration"/></a>
    <a href="/admin/admin-page" ><input type="button" class="buttons" value="Admin Page"/></a>
    <a href="/logout-page" ><input type="button" class="buttons" value="User info"/></a>

</header>
<div>
    <table>
        <h3 class="topText">Welcome to my crypto application, please choose:</h3>
        <p> <a href="/encode" ><input type="button" class="button" value="Encode"/></a></p>
        <p>  <a href="/decode" ><input type="button" class="button" value="Decode"/></a></p>
        <p> <a href="/analytics" ><input type="button" class="button" value="Analytics"/></a></p>
        <p> <a href="/history" ><input type="button" class="button" value="History"/></a></p>

    </table>
</div>
</body>
</html>