<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crypto Application</title>

    <link rel="stylesheet" type="text/css" href="/css/code_menu.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">



</head>

<body>
<div class="div-header">
    <th:block th:include="/header"></th:block>
</div>
<div>
    <table>
        <h3 class="topText">Welcome to my crypto application, please choose:</h3>
        <p> <a href="/encode" ><input type="button" class="button bg_color_lightgreen" value="Encode"/></a></p>
        <p>  <a href="/decode" ><input type="button" class="button bg_color_lightgreen" value="Decode"/></a></p>
        <p> <a href="/analytics" ><input type="button" class="button bg_color_lightgreen" value="Analytics"/></a></p>
        <p> <a href="/history" ><input type="button" class="button bg_color_lightgreen" value="History"/></a></p>

    </table>
</div>
</body>
</html>