<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Count codecs</title>
    <link rel="stylesheet" type="text/css" href="/css/table-page-styles.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/change_button_color.css">
</head>
<body>
<span class="div-header">
    <th:block th:include="/header"></th:block>
</span>
<div>

    <div class="most-popular-block codec-usage-block">
        <p class="most-popular-head">Codec occurrences:</p>
        <p class="most-popular-result" th:text=" ${countCodec}"></p>
    </div>

    <p><a href="/" ><input type="button" class="button bg_color_lightblue" value="Go to main page"/></a></p>

</div>
</body>
</html>