<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Caesar</title>
    <link rel="stylesheet" type="text/css" href="/css/page.css">
</head>
<body>

<div>
    <form action="#" th:action="@{/decode/caesar}" th:object="${operation}" method="POST">
        <h2 class="header">Please enter your words here:</h2>

        <input class="user-input" type="text" th:field="*{input}"/>

        <input type="submit" class="button" name="decode" value="decode"/>

        <p class=" resultText" th:text="'Result for decode: '"></p>
        <p class="result" th:text=" ${resultDecode}"></p>
        <p>
            <input type="submit" class="button clearButton" name="clear" value="Clear"/></p>
        <p>
            <a href="/encode/caesar"><input type="button" class="button goToButton" value="Go to encode page" /></a>
        </p>
        <a href="/" ><input type="button" class="button goToButton" value="Go to main page" /></a>

    </form>
</div>

</body>
</html>